        {% if query %}
          <section class="g-mb-10">
            <div>
              <h3><center>Auta ze słowem : <b> "{{ query }}" </b>.</center></center></h3>

            </div>
          </section>
<!-- ### SZUKANIE AUT ############SZUKANIE AUT ############SZUKANIE AUT ############SZUKANIE AUT ############ -->
          {% for a in results %}
            <secstion class="g-mb-10">
              <div class="container">
                <div class="row">
                  <!-- Profle Content -->
                  <div class="col-lg-12">
                    <!-- User Block -->
                    <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
                      <div class="row">
                        <div class="col-lg-9">
                          <!-- User Details -->
                          <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                            <h2 class="g-font-weight-300 g-mr-10">Opis : {{a.opis}} ---- Kogo : {{a.kogo}} </h2>
                          </div>
            </section>
          {% empty %}
            <section class="g-mb-10">
              <div class="col-lg-15">
                <div class="row">
                  <p>Niestety. Niema AUT z takim słowem <b> "{{ query }}" </b>:( Spróbuj innego słowa.</p>
                </div>
              </div>
            </section>
          {% endfor %}

        {% else %}
          <section class="g-mb-10">
              <div class="col-lg-15">
                <h1>Wyszukaj AUT ze słowem :</h1>
                <form action="." method="GET">
                  {{ form.as_p }}
                  <input type="submit" value="Szukaj">
                </form>
              </div>
          </section>
        {% endif %}